:root {
  --text-color: #fff;
  --bg-standard: #011826;
  --bg-gradient: linear-gradient(to right bottom,
    #022e40,
    #103a4c,
    #1c4759,
    #285466,
    #346173
  );
  --stroke-color: #7297a6;
  --highlight-color-hover: #022E40;
}
