@import url(./light.css);

/* VARIAVEIS */
:root {
  --bg-primary: #141111;
  --bg-secondary: #3636366a;
  --text-primary: #eee;
  --text-secondary: #a7a6a6;
  --border-color: 1px solid #333333af;
  --shadow: #4c4c4c6a;
  --bg-color-hover: #ffffff36;

  --switch-bg-color: #eee;
  --switch-img: url(../icon/moon-stars.svg);
}

/* CONFIGURAÇÕES GLOBAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: var(--bg-primary);
}

body * {
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}

/* LIGHT MODE */
body.light {
  --bg-primary: #fffaff;
  --bg-secondary: #ffe7ff;
  --text-primary: #2a2a2a;
  --text-secondary: #101010;
  --bg-color-hover: #0f0f0f2f;
  --shadow: #0000001a;

  --switch-bg-color: #eee;
  --switch-img: url(../icon/sun.svg);
}

body.light section#switch button {
  animation: slide-in 0.2s forwards;
}

/* HEADER | MENU NAVBAR */
header {
  background: var(--bg-secondary);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  opacity: 1;
}

nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 34px;
  min-height: 70px;
}

p.myName {
  font-size: 20px;
  font-weight: 500;
}

ul#nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  position: relative;
  text-decoration: none;
  transition: 0.5s ease;
}

/* BURGE MOBILE */
div#menu-buger {
  display: none;
  cursor: pointer;
}
span.bar {
  display: block;

  margin: 5px auto;
  width: 28px;
  height: 3px;

  border-radius: 2px;
  background: var(--text-primary);
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
}

main.container {
  margin: 24px auto 0px;
  padding: 0 24px;
  width: 100%;
  max-width: 588px;
}

/* PROFILE */
section#profile {
  width: 100%;
  padding: 24px;
  text-align: center;
}

section#profile img {
  margin: auto;
  width: 150px;
  border-radius: 20%;
  box-shadow: 1px 1px 15px var(--shadow);
}

section#profile p {
  padding: 24px 0 0;
  font-weight: 500;
}

/* SWITCH DARK/LIGHT MODE */
#switch {
  position: relative;

  margin: 4px auto;
  width: 64px;

  cursor: pointer;
}

#switch button {
  position: absolute;
  z-index: 1;
  top: 45%;
  transform: translateY(-50%);
  animation: slide-back 0.2s forwards;

  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: var(--switch-bg-color) var(--switch-img) no-repeat center;

  cursor: pointer;
}

#switch span {
  display: inline-block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  background: var(--bg-color-hover);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* LIST LINKS */
ul#external-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  padding: 24px 0;
}

ul a.links-external {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border: var(--border-color);
  border-radius: 15px;
  background: var(--bg-secondary);
  text-decoration: none;

  transition: background 0.5s;
}

/* SOCIAL LINKS */
section#social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 5px 0;
  font-size: 24px;
}

section#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 50%;

  transition: background 0.5s;
}

/* HOVERS */
a.nav-link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  background-color: var(--text-primary);
  transition: 0.5s;
}
a.nav-link:hover:after {
  width: 100%;
}

section#switch button:hover {
  outline: 8px solid var(--bg-color-hover);
}

ul a.links-external:hover {
  background: var(--bg-color-hover);
}

section#social-links a:hover {
  background: var(--bg-color-hover);
}

/* MOBILE */
@media (max-width: 785px) {
  p.myName {
    font-size: 12px;
  }
  ul#nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: var(--bg-secondary);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
    text-align: center;
    transition: 0.3s;
  }
  li.nav-item {
    margin: 16px 0;
  }

  ul#nav-menu.active {
    left: 0;
  }
  div#menu-buger {
    display: block;
  }
  div#menu-buger.active .bar:nth-child(2) {
    opacity: 0;
  }
  div#menu-buger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  div#menu-buger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ANIMATION DARK/LIGHT MODE */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
