@import url(./global.css);
@import url(./_variables.css);

/* HEADER | MENU NAVBAR */
header {
  background: var(--bg-secondary);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  opacity: 1;
}

nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 34px;
  min-height: 70px;
}

p.myName {
  font-size: 20px;
  font-weight: bold;
}

ul#nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  position: relative;
  text-decoration: none;
  transition: 0.5s ease;
}

/* BURGE MOBILE */
div#menu-buger {
  display: none;
  cursor: pointer;
}
span.bar {
  display: block;

  margin: 5px auto;
  width: 28px;
  height: 3px;

  border-radius: 2px;
  background: var(--text-primary);
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
}

/* HOVERS */
a.nav-link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  background-color: var(--text-primary);
  transition: 0.5s;
}
a.nav-link:hover:after {
  width: 100%;
}

/* MOBILE */
@media (max-width: 785px) {
  p.myName {
    font-size: 12px;
  }
  ul#nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: var(--bg-secondary);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    opacity: 1;
    text-align: center;
    transition: 0.3s;
  }
  li.nav-item {
    margin: 16px 0;
  }

  ul#nav-menu.active {
    left: 0;
  }
  div#menu-buger {
    display: block;
  }
  div#menu-buger.active .bar:nth-child(2) {
    opacity: 0;
  }
  div#menu-buger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  div#menu-buger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
