:root {
  --bg-primary: #141111;
  --bg-secondary: #3636366a;
  --text-primary: #eee;
  --text-secondary: #a7a6a6;
  --border-color: 1px solid #333333af;

  --bg-color-hover: #ffffff36;
}


/* CONFIGURAÇÕES GLOBAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: var(--bg-primary);
}

body * {
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

/* HEADER | MENU NAVBAR */
header {
  background: var(--bg-secondary);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  opacity: 1;
}

nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 34px;
  min-height: 70px;
}

p.myName {
  font-size: 20px;
  font-weight: bold;
}

ul#nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  position: relative;
  text-decoration: none;
  transition: 0.5s ease;
}

/* BURGE MOBILE */
div#menu-buger {
  display: none;
  cursor: pointer;
}
span.bar {
  display: block;

  margin: 5px auto;
  width: 28px;
  height: 3px;

  border-radius: 2px;
  background: var(--text-primary);
  color: var(--text-primary);
  transition: all 0.3s ease-in-out;
}

main.container {
  margin: 24px auto 0px;
  padding: 0 24px;
  width: 100%;
  max-width: 588px;
}

/* PROFILE */
section#profile {
  width: 100%;
  padding: 24px;
  text-align: center;
}

section#profile img {
  margin: auto;
  width: 150px;
  border-radius: 20%;
  box-shadow: 1px 1px 15px #4c4c4c6a;
}

section#profile p {
  padding: 24px 0;
  font-weight: 500;
}

/* LIST LINKS */
ul#external-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  padding: 0 0 24px;
}

ul a.links-external {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border: var(--border-color);
  border-radius: 15px;
  background: var(--bg-secondary);
  text-decoration: none;

  transition: background .5s;
}

/* SOCIAL LINKS */
section#social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 5px 0;
  font-size: 24px;
}

section#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 50%;

  transition: background .5s;
}

/* HOVERS */
a.nav-link:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  background-color: var(--text-primary);
  transition: 0.5s;
}
a.nav-link:hover:after {
  width: 100%;
}

ul a.links-external:hover {
  background: var(--bg-color-hover);
}

section#social-links a:hover {
  background: var(--bg-color-hover);
}

/* MOBILE */
@media (max-width: 785px) {
  p.myName {
    font-size: 12px;
  }
  ul#nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background: var(--bg-secondary);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    opacity: 1;
    text-align: center;
    transition: 0.3s;
  }
  li.nav-item {
    margin: 16px 0;
  }

  ul#nav-menu.active {
    left: 0;
  }
  div#menu-buger {
    display: block;
  }
  div#menu-buger.active .bar:nth-child(2) {
    opacity: 0;
  }
  div#menu-buger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  div#menu-buger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}